
<img src="<%= @user.image %>" class="img-thumbnail">

<h1>Hello, <%= @user.name %> </h1>
<!-- browse movies logout and edit favorites should b in navbar -->
<div class="container is-grouped">
<button class="button is-focused"><%= link_to "Edit Favorite Genres", edit_user_path(@user) %></button>
<button class="button is-focused"><%= link_to "Add Movie to your collection", new_user_movie_path(@user) %></button>
</div>


<div class="container">
<h1>Upcoming Movies You May Like </h1>
<% @user.genres.each do |genre| %>
    
    <h2><%= genre.name %></h3>
    <% genre.movies.each do |movie| %>
      <%if movie.release_date.to_date > Date.today && movie.release_date != nil%>
        <button class="button is-focused"><%= link_to movie.title, movie_path(movie)%></button>
        <h6>Release date- <%= movie.release_date %></h6>
       <%= youtube_video movie.preview %><br> 
      <%end%>
    <%end%>
    <br>

<%end%>
</div>
<div class="container">

<% if !@user.movies.empty?%>
<h1>Your Movies: </h1>
<% @user.movies.each do |movie| %>
  <button class="button is-focused"><%= link_to movie.title, movie_path(movie)%></button>
<%end%>
<%end%>
</div>



